@import "variables.less";
@import "funciones.less";
@import "componentes/modal.less";
@import "componentes/validate.less";

@import "vistas/login.less";
@import "vistas/panel.less";

#WindowLoad{
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 3200;
	.opacar(.80);
	background: @bgAzul;
	color: white;
	
	img{
		width: 50%;
	}
}