#home{
	overflow-y: hidden;
	
	#menu{
		border-bottom: 1px solid @menu-botones-borde-color;
		position: fixed;
		top: 50px;
		z-index: 9;
		background: @bgAzul;
		width: 100%;
		
		a{	
			&[role=button]{
				background: @bgAzul;
				border: none;
				border-right: none;
				border-radius:inherit;
				color: white;
				width: 32%;
				
				&:last-child{
					border: none;
				}
				
				.fa-stack{
					width: auto;
				}
				
				i.fa{
				}
				
				[campo=nombre]{
					font-size: 12px;
					width: 100%;
					padding-top: 10px;
					padding-bottom: 0px;
				}
			}
		}
	}
	
	
	.navbar{
		z-index: 1;
		border-bottom: none;
		padding: inherit;
		.navbar-header{
			background: @bgAzul;
			color: white;
			height: 50px;
			
			.navbar-brand{
				color: white;
				float: none;
				margin-right: 0;
				span{
					margin-left: 10px;
				}
			}
			
			img{
				width: 130px;
				display: inline;
			}
		}
		
		&.navbar-fixed-top{
			background: none;
		}
		
		&.navbar-fixed-bottom{
			background: rgba(211,211,211,0.3);
			display: flex;
			justify-content:center;
			margin-top: 70px;
			.menu{
				
				div.boton-menu{
					float: left;
					width: 100px;
					text-align: center;
				}
			}
		}
	}
	
	#modulo{
		margin-top: 70px;
		overflow-y: scroll;
		
		.container{
			background: rgba(255, 255, 255, .8);
			padding-top: 10px;
			padding-bottom: 10px;
		}
		
		.page-header{
			margin-top: 5px;
			h1{
				font-size: 16px;
				color: @azul;
				margin: 0px;
			}
			
			border-bottom-color: @azul;
		}
		
		div.orden{
			border: 1px solid #e0e0e0;
			padding: 15px 15px 15px 15px;
			margin-bottom: 15px;
			font-size: 13px;
			.mapa{
				height: 200px;
			}
		}
		
		div.listaOrden{
		    font-size: 12px;
		    
		    .badge{
		        font-size: 12px;
		    }
		}
	}
}