#home{
	overflow-y: hidden;
	
	#menu{
		background: @bgAzul;
		img{
		    width: 150px;
		    margin-bottom: 10px;
		}
		
		.navbar{
		    background: @bgAzul;
		    
		    .navbar-toggler{
		        color: white;
		    }
		    
		    .navbar-brand{
		        color: white;
		        font-size: 16px;
		        text-align: center;
		    }
		}
		
		.col-4{
		    padding-left: 2px;
		    padding-right: 2px;
		}
		
		a{	
			&[role=button]{
				background: white;
				border: none;
				border-right: none;
				border-radius:inherit;
				color: @bgAzul;
				width: 100%;
				
				&:last-child{
					border: none;
				}
				
				.fa-stack{
					width: auto;
				}
				
				i.fa{
				}
				
				[campo=nombre]{
					font-size: 11px;
					width: 100%;
					padding-top: 10px;
					padding-bottom: 0px;
				}
			}
		}
	}
	
	#modulo{
		margin-top: 10px;
		overflow-y: scroll;
		
		.container{
			background: rgba(255, 255, 255, .8);
			padding-top: 10px;
			padding-bottom: 10px;
		}
		
		.page-header{
			margin-top: 5px;
			h1{
				font-size: 16px;
				color: @azul;
				margin: 0px;
			}
			
			border-bottom-color: @azul;
		}
		
		div.orden{
			border: 1px solid #e0e0e0;
			padding: 15px 15px 15px 15px;
			margin-bottom: 15px;
			font-size: 13px;
			.mapa{
				height: 200px;
			}
		}
		
		div.listaOrden{
		    font-size: 12px;
		    
		    .badge{
		        font-size: 12px;
		    }
		}
	}
}